.gems-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gems-sorting-pagination-wrapper {
    justify-content: space-between;
    margin: 0;
    padding-right: 15px;
}