.jewellery-item.card {
    width: 31.3%;
    margin-right: 15px;
    border: transparent;
    border-radius: 0;
    transition: all .4s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.jewellery-item.card:hover {
    border: 1px solid rgba(0,0,0,.125);
    transform: scale(1.2);
    z-index: 100;
    padding: 5px 5px 0 5px;
}

.jewellery-item.card:hover .jewellery-item-details {
    display: flex;
}

.jewellery-item.card:hover .jewellery-item-title {
    font-weight: 900;
}

.jewellery-item.card .jewellery-item-title a {
    color: black;
}

.jewellery-item-details {
    display: none;
    font-size: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.jewellery-item-details .description {
    /*width: 40%;*/
    /*color: #564D4A;*/
    padding-top: 3px;
    font-style: italic;
    font-size: 8px;
}

.jewellery-item-details .description span {
    opacity: 0.6;
}

.jewellery-item-details .details {
    width: 60%;
    padding-right: 5px;
}

.jewellery-item-details td {
    padding: 0;
    border: none;
    opacity: 0.6;
    vertical-align: top;
}

.jewellery-item-details .header {
    /*color: #7A6C5D;*/
    text-transform: uppercase;
    font-weight: 900;
    font-size: 8px;
    padding: 0;
    margin: 0;
}

.jewellery-item-details .title {
    width: 50px;
    padding-right: 2px;
    opacity: 1;
}

div.jewellery-item-details:nth-child(odd) {
    margin-right: 4px;
}


/*.jewellery-item.card:hover .card-body {*/
/*padding: 1.5rem 0.1rem 0;*/
/*}*/

.jewellery-item .card-body {
    padding: 0.5rem 0.1rem 0;
}


.jewellery-item img {
    border-radius: 0;
}

.jewellery-item-main-details {
    display: flex;
    justify-content: space-between;
}

/*.jewellery-item-title {*/
    /*font-size: 12px;*/
    /*!*color: rgb(52, 58, 64);*!*/
    /*color: red;*/
/*}*/

.jewellery-item-price {
    width: 8rem;
    font-size: 1rem;
    font-weight: 900;
    text-align: right;
    margin-left: 0.5rem;
}

.jewellery-item-price span {
    width: 50px;
    font-size: 0.5rem;
    font-weight: 400;
    color: #0000007d;
    padding-left: 5px;
}

.jewellery-item-old-price {
    margin-top: -5px;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 0.5rem;
    vertical-align: top;
}

.code {
    font-weight: bold;
    padding-right: 0.5rem;
}

.jewellery-item-new-price,
.jewellery-item-new-price span {
    color: rgb(204, 0, 0);
}

.jewellery-item-discount {
    position: absolute;
    margin-top: 2rem;
    background: white;
    width: 2rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.75rem;
    opacity: 0.95;
    color: rgb(204, 0, 0);
}