@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:300i|Alegreya+Sans:300,400|Cormorant+SC:700|Spartan:500|Roboto:400,900&subset=cyrillic-ext');


body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
}

.app-container {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.app-main-column {
  width: 75%;
  margin: 0;
}


@media (max-width: 995px) {

  .jewellery-item.card {
    width: 45%;
  }

}

@media (max-width: 890px) {

  body {
    font-size: 0.9rem;
  }

  .h6, h6 {
    font-size: 0.9rem;
  }

  .sidebar {
    width: 27%
  }

  .app-main-column {
    width: 68%;
  }

}

@media (max-width: 770px) {

  .jewellery-item.card {
    width: 90%;
  }

  .nav-upper-line {
    text-align: center;
    flex-direction: column;
  }

  .nav-upper-line-tel {
    order: 3;
    width: 100%;
  }

  .nav-upper-line-text {
    order: 1;
    width: 100%;
  }

  .nav-upper-line-address {
    order: 2;
    width: 100%;
    flex-direction: column;
    margin: auto;
  }

}

@media (max-width: 450px) {

  .app-container {
    flex-direction: column;
  }

  .sidebar,
  .app-main-column {
    width: 100%;
  }

  .jewellery-item.card {
    width: 90%;
  }

}