.sorting-dropdown {
    margin-bottom: 1rem;
}

.sorting-dropdown .col {
    margin: 0;
    padding: 0;
}

.sorting-dropdown .row {
    margin: 0;
}

.sorting-dropdown button.btn-light {
    color: #212529;
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.125rem 0.75rem;
    font-size: 0.75rem;
    background-color: white;
}

.sorting-dropdown .dropdown-item{
    font-size: 0.75rem;
}