.nav-upper-line {
    background: #f8f9fa;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.nav-upper-line-tel,
.nav-upper-line-address {
    font-size: 10px;
    line-height: 2.2;
}
.nav-upper-line-text {
    font-family: 'Cormorant Infant', serif;
}

.nav-shop-title {
    font-family: 'Cormorant SC', serif;
    color: #000;
    text-align: center;
    font-size: 2.5em;
    padding: 5px;
}

.navbar {
    padding: 0;
    height: 45px;
}

.nav-link {
    padding: 0;
}

.navbar-nav {
    height: 100%;
}

.nav-item {
    line-height: 2.8;
}

#app .navbar-collapse .navbar-nav {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#app .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-item-discount {
    background: #c00;
}

.navbar-dark .navbar-nav .nav-item-discount .nav-link {
    color: rgba(255,255,255,.7);
}

.navbar-dark .navbar-nav .nav-item-discount .nav-link.active {
    color: rgba(255,255,255,1);
}
