.table-img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.table-icon {
    margin: auto;
}

.table-icon-container {
    display: flex;
}

.table-icon:hover {
    opacity: 0.5;
}

.gems-table {
    font-size: 0.75rem;
}

.gems-table thead th {
    vertical-align: middle;
}

.gems-table-header {
    text-align: center;
    font-size: 10px;
}

.gems-table-row {
    padding: 0.1rem;
    margin: 0;
}

.gems-table-row .gems-table-image-column {
    margin: 0;
}

.gems-table-img-wrapper {
    display: flex;
}

.gems-table-id-column {
    text-align: center;
}

.react-bootstrap-table table { table-layout: auto !important; }

.react-bootstrap-table-pagination-list {
    display: flex;
}

ul.react-bootstrap-table-page-btns-ul {
    margin-left: auto;
}

.react-bootstrap-table-pagination a {
    color: #333;
}

.page-item.active .page-link,
.react-bootstrap-table-pagination .btn-secondary {

    background-color: #343a40;
    border-color: #343a40;
}

.page-item.active .page-link a {
    color: rgba(255,255,255,.5);
}

.gems-table .select-filter {
    font-size: 10px;
    padding: 0;
}

.react-bootstrap-table th .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.react-bootstrap-table th .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

